@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap');

*{
    font-family:'poppins';
}
.bg-light{
    background-color: #EDF4FF!important;
}
.text-judul{
    color: rgb(17,43,97) !important;
}